# exclude all 'build' directories child of root directory (<rootDir>/builder/src/builder/org/jnode/build is not ignored)
/*/build

# other exclusions
.classpath
.project
*.patch
jnode.properties
local/
